html{
    background-color: rgb(0, 0, 139);
    color: white;
    font-family: Poppins;
}

.divDefault{
    display: flex;
    flex-direction: column;
    grid-column: 10%;
}

#inputDescricao{
    width: 100%;
    min-height: 35px;
    max-width: 600px;
    min-width: 599.9px;
}

#inputData{
    height: 39px;
}

#inputContainer{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 600px 200px 150px 150px;
    padding: 10px;
}

#atividadesContainer{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}

.descricao{
    max-width: 60%;
    flex-wrap: wrap;
    word-break: break-all;
    white-space: normal
}

.atividade{
    border: solid 1px white;
    border-radius: 5px;
    background-color: rgb(87, 82, 82);
    padding: 5px 10px 5px 10px;
    display: grid;
    grid-template-columns: 60% 20% 10%;
    gap: 5%;
    /* justify-content: space-between; */
    align-items: center;
}

button{
    width: 100%;
    height: 70%;
    min-width: 100px;
    margin-top: 16px;
    max-height: 43px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}

.buttons{
    margin-top: 10px;
}

.imagem{
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem:hover{
    cursor: pointer;
}
img{
    width: 30%;
}

.modal-overlay{
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.7);

	position: fixed;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;

	z-index: 999;
}

.modal-overlay.active{
	opacity: 1;
	visibility: visible;
}

.modal{
	background: gray;
	padding: 2.4rem;
	width: 90%;
	max-width: 500px;
	position: relative;
	z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group{
    display: flex;
    gap: 20%;
    justify-content: center;
}